.songs-contaner {
    margin-top: 32px;
}

.songs-heading {
    padding-left: 32px;
}

.songs-heading h1 {
    color: white;
    font-size: 20px;
}

.tab-list {
   padding-left: 32px;
 
}
.tab-button {
    color: var(--white);
}
.tab-colour {
    color: var(--white) !important;
    font-weight: 600 !important;
}
.filtred-songs {
    padding: 10px;
    margin-right: 10px;
}