.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    height: 74px;
    align-items: center;
    width: 100vw;
    padding: 0 32px;
}
.icon {
    display: flex;
    position: relative;
}
.music-icon {
   position: relative;
   top: -10px;
   left :-67px
}




