.search {
    display: flex;
    min-width: 568px;
}

.search-button {
    width: 66px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 8px 8px 0px;
    
}

.search input {
    flex: 1;
    border-radius: 8px 0px 0px 8px;
    padding: 8px;
   
}